<!DOCTYPE html>
<html lang="en">
<head> 
<link rel="stylesheet" type="text/css" href= "{{url_for('static',filename= 'css/style.css') }}" >
<script src="{{url_for('static', filename='js/script.js')}}"></script>
<meta charset="UTF-8">
    <title>Taylor swift merch</title>
</head>
<body class="color_text">
<div class="bg_home">
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/items"=>Merch</a>
  <a href="/cart"=>yourcart</a>
</div>

    <h1 class="order">WELLCOME TO TAYLOR SWIFT MERCH SHOP</h1>
    <h2 class="desp">in this shop you can find everthing realtable to taylor swift,</h2>
    <h2 class="desp">starting at debut until speak now(Taylor's verion)</h2>
    <div class="responsive">
      <div class="gallery">
        <a href="static/css/debut.jpg">
          <img src="static/css/debut.jpg" width="600" height="400">
        </a>
        <div class="desc">debut era (2006)</div>
      </div>
    </div>


    <div class="responsive">
      <div class="gallery">
        <a href="static/css/fearless.jpg">
          <img src="static/css/fearless.jpg" width="600" height="400">
        </a>
        <div class="desc">fearless era (2008 & 2021)</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="static/css/speak_now.webp">
          <img src="static/css/speak_now.webp" width="600" height="400">
        </a>
        <div class="desc">Spaek Now era (2010 & 2023)</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a  href="static/css/red.png">
          <img src="static/css/red.png" width="600" height="400">
        </a>
        <div class="desc">RED era (2012 & 2021) </div>
      </div>
    </div>

    <div class="clearfix"></div>

<div class="responsive">
      <div class="gallery">
        <a href="static/css/1989.webp">
          <img src="static/css/1989.webp" width="600" height="400">
        </a>
        <div class="desc">1989 era (2014)</div>
      </div>
    </div>


    <div class="responsive">
      <div class="gallery">
        <a href="static/css/rep.jpg">
          <img src="static/css/rep.jpg" width="600" height="400">
        </a>
        <div class="desc">repution era (2017)</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="static/css/lover.webp">
          <img src="static/css/lover.webp" width="600" height="400">
        </a>
        <div class="desc">Lover era (2019)</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a  href="static/css/folklore.jpg">
          <img src="static/css/folklore.jpg" width="600" height="400">
        </a>
        <div class="desc">folklore era (2021) </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="responsive">
      <div class="gallery">
        <a href="static/css/evermore.png">
          <img src="static/css/evermore.png" width="600" height="400">
        </a>
        <div class="desc">evermore era (2021)</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a  href="static/css/midnight.webp">
          <img src="static/css/midnight.webp" width="600" height="400">
        </a>
        <div class="desc">MidNight era (2023) </div>
      </div>
    </div>

    <div class="clearfix"></div>



</div>
</body>
</html>