<!DOCTYPE html>
<html lang="en">
<head> 
<link rel="stylesheet" type="text/css" href= "{{url_for('static',filename= 'css/style.css') }}" >
<script src="{{url_for('static', filename='js/script.js')}}"></script>
<meta charset="UTF-8">
    <title>Taylor swift merch</title>
</head>
<body class="color_text">
<div class="bg_home">
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/items"=>Merch</a>
</div>

    <h1>WELLCOME TO TAYLOR SWIFT MERCH SHOP</h1>
    <p>in this shop you can find everthing realtable to taylor swift,</p>
    <p>starting at debut until speak now(Taylor's verion)</p>



</div>
</body>
</html>