<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename= 'css/style.css') }}" >
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <meta charset="UTF-8">
    <title>products for sales</title>
</head>
<body class="color_text">
<div class="bg_merch">
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/items">Merch</a>
</div>
  <h1>Our Merch</h1>
    <h3>all of the merach</h3>/
     <div class="card">
      <img src="speak_now.webp" style="width:100%">
      <h1>Speak Now album vinal</h1>
      <p class="price">$25.00</p>
      <p>taylor swift re-cord album 7/7/2023. the third re-recode album.</p>
      <a href="/cart"><p><button>Add to Cart</button></p></a>
    </div>

     <div class="card">
      <img src="midnight.webp" style="width:100%">
      <h1>MidNight album vinal</h1>
      <p class="price">$23.00</p>
      <p>taylor swift record album in 21/10/2023. the 10th album</p>
      <a><p><button>Add to Cart</button></p></a>
    </div>

    <div class="card">
      <img src="red.png" style="width:100%">
      <h1>RED album vinal</h1>
      <p class="price">$26.00</p>
      <p>taylor swift re-record album in 2021 nov 21th. the second re-recode album</p>
      <a><p><button>Add to Cart</button></p></a>
    </div>
   <div class="card">
      <img src="fearlees.jpg" style="width:100%">
      <h1>fearlees album vinal</h1>
      <p class="price">$27.90</p>
      <p>taylor swift re-record album in 2021 april 9th. the first re-recode album</p>
      <a><p><button>Add to Cart</button></p></a>
    </div>
    

    
 <h4>(Segev's verion)</h4>
 <h4>**no returns**</h4>

 </div>
</body>
</html>
