<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename= 'css/style.css') }}" >
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <meta charset="UTF-8">
    <title>products for sales</title>
</head>
<body class="color_text">
<div class="bg_merch">
<div class="topnav">
  <a href="/">Home</a>
  <a class="active"href="/items"=>Merch</a>
  <a href="/cart"=>yourcart</a>
</div>
  <h1 class="desp">Our Merch</h1>
    <h3 class="desp">all of the merach</h3>/
     <div class="card">
      <img src="static/css/speak_now.webp" style="width:100%">
      <h1 class="bold">Speak Now album vinal</h1>
      <p class="price">$25.00</p>
      <p class="bold">taylor swift re-cord album 7/7/2023. the third re-recode album.</p>
      <a href="/cart"><p><button>Add to Cart</button></p></a>
    </div>

     <div class="card">
      <img src="static/css/midnight.webp" style="width:100%">
      <h1 class="bold">MidNight album vinal</h1>
      <p class="price">$23.00</p>
      <p class="bold">taylor swift record album in 21/10/2023. the 10th album</p>
      <a href="/cart"><p><button>Add to Cart</button></p></a>
    </div>

    <div class="card">
      <img src="static/css/red.png" style="width:100%">
      <h1 class="bold">RED album vinal</h1>
      <p class="price">$26.00</p>
      <p class="bold">taylor swift re-record album in 2021 nov 21th. the second re-recode album</p>
      <a href="/cart"><p><button>Add to Cart</button></p></a>
    </div>
   <div class="card">
      <img src="static/css/fearless.jpg" style="width:100%;height:">
      <h1 class="bold">fearlees album vinal</h1>
      <p class="price">$27.90</p>
      <p class="bold">taylor swift re-record album in 2021 april 9th. the first re-recode album</p>
      <a href="/cart"><p><button>Add to Cart</button></p></a>
    </div>
    

    
 <h4 class="desp">(Segev's verion)</h4>
 <h4 class="desp">**no returns**</h4>

</div>
</body>
</html>
